@import-normalize;

html {
    background: url(./imgs/ocean5.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body {
    font-family: 'Open Sans', sans-serif;
}

.App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 150px;
    width: 415px;
}

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.title-text {
    font-size: 25px;
    margin: 0;
    padding: 10px;
    font-weight: 600;
}

.directions {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 5px solid #DDC467;
    border-radius: 10px;
    width: 373.2px; 
    height: 177px;
    padding: 15px 20px;
    font-size: 20px;
    margin: 30px 0;
    box-sizing: border-box;
    background-color: #342511;
    color: #FFFFFF;
}

.score-line {
    display: flex;
}

.score-text {
    margin: 0;
    padding: 5px 0;
}

.score {
    margin-left: 15px;
}

.feedback {
    margin: 10px 0 5px 0;
}

.cards-container {
    display: flex;
    justify-content: center;
}

.card {
    display: inline-flex;
    flex-direction: column;
    width: fit-content;
    max-width: 30%;
    margin: 0 1%;
    border: 3px solid #DDC467;
    background-color: #342511;
    border-radius: 10px;
    animation: fade-in 0.2s;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.char-name-text {
    width: fit-content;
    align-self: center;
    font-size: 20px;
    margin: 0;
    color: #FFFFFF;
    padding: 10px 0;
}

@keyframes fade-in {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
